html {
	background: url(images/night.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	background-size:cover;	


}

html {
  scroll-behavior: smooth;
}

.noPadding
{
max-height:auto;
max-width: 100%
}

.padding
{
max-height:auto;
max-width:50%;
border: 1px  solid white;

}

.container {
  .container {
  position: relative;
  text-align: left;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-block {
position: absolute;
top: 50%;
left:-150px;

  max-width:300px;
  max-height: auto;
  background-color: black;
  color: white;
  border: 50px solid black;


}

h1{
	font-family: helvetica;
}